
<div class="ui vertical menu">
  <h3 class="ui header">Houses</h3>
  <div class="active item" {{onclick 'manageHouses'}}>
    <a>Manage Houses</a>
  </div>
  <div class="active item" {{onclick 'addHouse'}}>
    <a>Add House</a>
  </div>
</div>
